<launch>
  <node name="lab2" pkg="Lab2" type="lab2.py" output="screen"/>
  <arg name="isSimulation" default="true" /> 
  <group if="$(arg isSimulation)">
   <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_gazebo_rviz.launch"/>
   <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch"/>  
  </group>
  <group unless="$(arg isSimulation)">
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_model.launch"/>
  </group>
</launch>
